language: go
go:
- 1.14.x
git:
  depth: 1
notifications:
  email: false

env:
  global:
  - LANTERN_DBHOST=localhost
  - LANTERN_DBPORT=5432
  - LANTERN_DBUSER=lantern
  - LANTERN_DBPASSWORD=postgrespassword
  - LANTERN_DBUSER_READONLY=lantern_ro
  - LANTERN_DBPASSWORD_READONLY=postgrespassword_ro
  - LANTERN_DBUSER_READWRITE=lantern_rw
  - LANTERN_DBPASSWORD_READWRITE=lantern_rw
  - LANTERN_DBNAME=lantern
  - LANTERN_DBSSLMODE=disable
  - LANTERN_TEST_DBPASSWORD=postgrespassword
  - LANTERN_TEST_DBNAME=lantern_test
  - LANTERN_TEST_DBUSER=lantern
  - LANTERN_TEST_DBPASSWORD=postgrespassword
  - LANTERN_ENDPTLIST="./scripts/EndpointSources.json"
  - LANTERN_QUSER=capabilityquerier
  - LANTERN_QPASSWORD=capabilityquerier
  - LANTERN_QPORT=5672
  - LANTERN_CAPQUERY_QNAME=capability-statements
  - LANTERN_CAPQUERY_NUMWORKERS=10
  - LANTERN_CAPQUERY_QRYINTVL=1440
  - LANTERN_TEST_QUSER=capabilityquerier
  - LANTERN_TEST_QPASSWORD=capabilityquerier
  - LANTERN_TEST_CAPQUERY_QNAME=capability-statements-test

before_script:
- go get ./...
- go get github.com/golangci/golangci-lint/cmd/golangci-lint
- docker-compose up -d --build

jobs:
  include:
    - stage: test
      script:
      - make test
      - ./scripts/wait-for-it.sh localhost:3000 -- ./scripts/wait-for-it.sh localhost:5432 -- ./scripts/wait-for-it.sh localhost:15672 -- ./scripts/wait-for-it.sh localhost:5672 -- ./scripts/wait-for-it.sh localhost:9090 -- ./scripts/wait-for-it.sh localhost:9201 -- ./scripts/wait-for-it.sh localhost:3333 -- make test_int
      env: LANTERN_QHOST=localhost
    - stage: test e2e
      script: make test_e2e
      env: LANTERN_QHOST=lantern-mq
