version: '3'

services:
  endpoint_querier:
    build: 
      context: ./networkstatsquerier
    depends_on:
        - lantern-mq
    environment:
        - LANTERN_QUSER=${LANTERN_QUSER}
        - LANTERN_QPASSWORD=${LANTERN_QPASSWORD}
        - LANTERN_QHOST=${LANTERN_QHOST}
        - LANTERN_QPORT=${LANTERN_QPORT}
        - LANTERN_ENDPTINFO_NETSTATS_QNAME=${LANTERN_ENDPTINFO_NETSTATS_QNAME}
        - LANTERN_ENDPTQRY_NUMWORKERS=${LANTERN_ENDPTQRY_NUMWORKERS}
    volumes:
        - ./scripts/wait-for-it.sh:/etc/lantern/wait-for-it.sh
    command: /etc/lantern/wait-for-it.sh lantern-mq:5672 -- ./main

  pg_prometheus:
    image: timescale/pg_prometheus:latest-pg11
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./scripts/sql/dbsetup.sql:/docker-entrypoint-initdb.d/dbsetup.sql
      - ./scripts/sql/dbusersetup.sql:/docker-entrypoint-initdb.d/dbusersetup.sql
    environment:
      - POSTGRES_PASSWORD=${LANTERN_DBPASSWORD}
      - POSTGRES_USER=${LANTERN_DBUSER}
      - POSTGRES_DB=${LANTERN_DBNAME}
    command:
      -csynchronous_commit=off

  prometheus_postgresql_adapter:
    image: timescale/prometheus-postgresql-adapter
    depends_on:
      - pg_prometheus
    restart: on-failure
    volumes:
      - ./scripts/pause_start_prometheus_postgresql_adapter.sh:/pause_start_prometheus_postgresql_adapter.sh
    entrypoint: "/pause_start_prometheus_postgresql_adapter.sh"
    command:
      -pg-host=pg_prometheus
      -pg-password=${LANTERN_DBPASSWORD}
      -pg-database=${LANTERN_DBNAME}
      -pg-user=${LANTERN_DBUSER}
      -pg-prometheus-log-samples

  prometheus:
    image: prom/prometheus
    volumes:
      - prometheusData:/prometheus
      - ./prometheus.yml:/etc/prometheus/prometheus.yml 
    depends_on:
      - prometheus_postgresql_adapter
      - pg_prometheus
  
  lantern-mq:
    image: rabbitmq:3-management
    volumes:
      - ./lanternmq/rabbitmq.config:/etc/rabbitmq/rabbitmq.config:ro
      - ./lanternmq/definitions.json:/etc/rabbitmq/definitions.json:ro
      - rabbitmqdata:/var/lib/rabbitmq

  endpoint_manager:
    build: 
      context: ./endpointmanager
    depends_on:
      - lantern-mq
      - pg_prometheus
    environment:
      - LANTERN_CHPLAPIKEY=${LANTERN_CHPLAPIKEY}
      - LANTERN_DBHOST=${LANTERN_DBHOST}
      - LANTERN_DBPORT=${LANTERN_DBPORT}
      - LANTERN_DBUSER=${LANTERN_DBUSER}
      - LANTERN_DBPASSWORD=${LANTERN_DBPASSWORD}
      - LANTERN_DBSSLMODE=${LANTERN_DBSSLMODE}
      - LANTERN_DBNAME=${LANTERN_DBNAME}
      - LANTERN_QUSER=${LANTERN_QUSER}
      - LANTERN_QPASSWORD=${LANTERN_QPASSWORD}
      - LANTERN_QHOST=${LANTERN_QHOST}
      - LANTERN_QPORT=${LANTERN_QPORT}
      - LANTERN_CAPQUERY_QNAME=${LANTERN_CAPQUERY_QNAME}
      - LANTERN_CAPQUERY_NUMWORKERS=${LANTERN_CAPQUERY_NUMWORKERS}
      - LANTERN_CAPQUERY_QRYINTVL=${LANTERN_CAPQUERY_QRYINTVL}
      - LANTERN_ENDPTINFO_NETSTATS_QNAME=${LANTERN_ENDPTINFO_NETSTATS_QNAME}
    volumes:
      - ./scripts/wait-for-it.sh:/etc/lantern/wait-for-it.sh
      - ./scripts/populatedb.sh:/etc/lantern/populatedb.sh
    command: /etc/lantern/wait-for-it.sh lantern-mq:5672 -- ./main
  
  capability_querier:
    build: 
      context: ./capabilityquerier
    depends_on:
      - lantern-mq
    environment:
      - LANTERN_QUSER=${LANTERN_QUSER}
      - LANTERN_QPASSWORD=${LANTERN_QPASSWORD}
      - LANTERN_QHOST=${LANTERN_QHOST}
      - LANTERN_QPORT=${LANTERN_QPORT}
      - LANTERN_CAPQUERY_QNAME=${LANTERN_CAPQUERY_QNAME}
      - LANTERN_CAPQUERY_NUMWORKERS=${LANTERN_CAPQUERY_NUMWORKERS}
      - LANTERN_CAPQUERY_QRYINTVL=${LANTERN_CAPQUERY_QRYINTVL}
    volumes:
      - ./scripts/wait-for-it.sh:/etc/lantern/wait-for-it.sh
    command: /etc/lantern/wait-for-it.sh lantern-mq:5672 -- ./main

  capability_receiver:
    build: 
      context: ./capabilityreceiver
    depends_on:
      - lantern-mq
      - pg_prometheus
    environment:
      - LANTERN_DBHOST=${LANTERN_DBHOST}
      - LANTERN_DBPORT=${LANTERN_DBPORT}
      - LANTERN_DBUSER=${LANTERN_DBUSER}
      - LANTERN_DBPASSWORD=${LANTERN_DBPASSWORD}
      - LANTERN_DBSSLMODE=${LANTERN_DBSSLMODE}
      - LANTERN_DBNAME=${LANTERN_DBNAME}
      - LANTERN_QUSER=${LANTERN_QUSER}
      - LANTERN_QPASSWORD=${LANTERN_QPASSWORD}
      - LANTERN_QHOST=${LANTERN_QHOST}
      - LANTERN_QPORT=${LANTERN_QPORT}
      - LANTERN_CAPQUERY_QNAME=${LANTERN_CAPQUERY_QNAME}
    volumes:
      - ./scripts/wait-for-it.sh:/etc/lantern/wait-for-it.sh
    command: /etc/lantern/wait-for-it.sh lantern-mq:5672 -- ./main

  shinydashboard:
    build:
      context: ./shinydashboard
      args:
        LANTERN_DBNAME: ${LANTERN_DBNAME}
        LANTERN_DBUSER: ${LANTERN_DBUSER}
        LANTERN_DBPASSWORD: ${LANTERN_DBPASSWORD}
        LANTERN_DBHOST: ${LANTERN_DBHOST}
        LANTERN_DBPORT: ${LANTERN_DBPORT}
        LANTERN_DBSSLMODE: ${LANTERN_DBSSLMODE}      
    image: lantern_shinydashboard:current
    depends_on:
      - pg_prometheus
    volumes:
      - ./shinydashboard/lantern/:/srv/shiny-server
      - ./shinydashboard/shiny_logs:/var/log/shiny-server

volumes:
  pgdata:
  prometheusData:
  grafanaData:
  rabbitmqdata:


