version: '3'

services:
  endpoint_querier:
    environment:
      - LANTERN_ENDPTQRY_QUERY_INTERVAL=0
    entrypoint:
      - "./main"
      - "./resources/TestEndpointSources.json"
      - "CareEvolution"

  prometheus_postgresql_adapter:
    command:
      -pg-host=pg_prometheus
      -pg-password=${LANTERN_TEST_DBPASSWORD}
      -pg-database=${LANTERN_TEST_DBNAME}
      -pg-user=${LANTERN_TEST_DBUSER}
      -pg-prometheus-log-samples

  prometheus:
    volumes:
      - ./prometheus.test.yml:/etc/prometheus/prometheus.yml 

  lantern-e2e:
    container_name: lantern-e2e
    environment:
      - LANTERN_DBHOST=pg_prometheus
      - LANTERN_CHPLAPIKEY=${LANTERN_CHPLAPIKEY}
    build:
      args:
        cert_dir: ./certs
      context: ./e2e
    volumes:
      - ./scripts/wait-for-it.sh:/etc/lantern/wait-for-it.sh
    command: /etc/lantern/wait-for-it.sh grafana:3000 -- /etc/lantern/wait-for-it.sh pg_prometheus:5432 -- /etc/lantern/wait-for-it.sh lantern-mq:15672 -- /etc/lantern/wait-for-it.sh lantern-mq:5672 -- /etc/lantern/wait-for-it.sh prometheus:9090 -- /etc/lantern/wait-for-it.sh prometheus_postgresql_adapter:9201 -- /etc/lantern/wait-for-it.sh endpoint_querier:3333 -- go test -v -tags=e2e ./...
