version: '3'

services:
  postgres:
    image: postgres:11.8
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./scripts/sql/dbsetup.sql:/docker-entrypoint-initdb.d/dbsetup.sql
      - ./scripts/sql/dbusersetup.sql:/docker-entrypoint-initdb.d/dbusersetup.sql
    environment:
      - POSTGRES_PASSWORD=${LANTERN_DBPASSWORD}
      - POSTGRES_USER=${LANTERN_DBUSER}
      - POSTGRES_DB=${LANTERN_DBNAME}
    command:
      -csynchronous_commit=off
  
  lantern-mq:
    image: rabbitmq:3-management
    volumes:
      - ./lanternmq/rabbitmq.config:/etc/rabbitmq/rabbitmq.config:ro
      - ./lanternmq/definitions.json:/etc/rabbitmq/definitions.json:ro
      - rabbitmqdata:/var/lib/rabbitmq

  endpoint_manager:
    build: 
      context: ./endpointmanager
    depends_on:
      - lantern-mq
      - postgres
    restart: on-failure
    environment:
      - LANTERN_CHPLAPIKEY=${LANTERN_CHPLAPIKEY}
      - LANTERN_DBHOST=${LANTERN_DBHOST}
      - LANTERN_DBPORT=${LANTERN_DBPORT}
      - LANTERN_DBUSER=${LANTERN_DBUSER}
      - LANTERN_DBPASSWORD=${LANTERN_DBPASSWORD}
      - LANTERN_DBSSLMODE=${LANTERN_DBSSLMODE}
      - LANTERN_DBNAME=${LANTERN_DBNAME}
      - LANTERN_QUSER=${LANTERN_QUSER}
      - LANTERN_QPASSWORD=${LANTERN_QPASSWORD}
      - LANTERN_QHOST=${LANTERN_QHOST}
      - LANTERN_QPORT=${LANTERN_QPORT}
      - LANTERN_CAPQUERY_QNAME=${LANTERN_CAPQUERY_QNAME}
      - LANTERN_CAPQUERY_NUMWORKERS=${LANTERN_CAPQUERY_NUMWORKERS}
      - LANTERN_CAPQUERY_QRYINTVL=${LANTERN_CAPQUERY_QRYINTVL}
    volumes:
      - ./scripts/wait-for-it.sh:/etc/lantern/wait-for-it.sh
      - ./scripts/populatedb.sh:/etc/lantern/populatedb.sh
      - ./resources/prod_resources/:/etc/lantern/resources
    command: /etc/lantern/wait-for-it.sh lantern-mq:5672 -- /etc/lantern/wait-for-it.sh postgres:5432 -- ./main
  
  capability_querier:
    build: 
      context: ./capabilityquerier
    depends_on:
      - lantern-mq
    restart: on-failure
    environment:
      - LANTERN_QUSER=${LANTERN_QUSER}
      - LANTERN_QPASSWORD=${LANTERN_QPASSWORD}
      - LANTERN_QHOST=${LANTERN_QHOST}
      - LANTERN_QPORT=${LANTERN_QPORT}
      - LANTERN_CAPQUERY_QNAME=${LANTERN_CAPQUERY_QNAME}
      - LANTERN_CAPQUERY_NUMWORKERS=${LANTERN_CAPQUERY_NUMWORKERS}
      - LANTERN_CAPQUERY_QRYINTVL=${LANTERN_CAPQUERY_QRYINTVL}
    volumes:
      - ./scripts/wait-for-it.sh:/etc/lantern/wait-for-it.sh
    command: /etc/lantern/wait-for-it.sh lantern-mq:5672 -- ./main

  capability_receiver:
    build: 
      context: ./capabilityreceiver
    depends_on:
      - lantern-mq
      - postgres
    restart: on-failure
    environment:
      - LANTERN_DBHOST=${LANTERN_DBHOST}
      - LANTERN_DBPORT=${LANTERN_DBPORT}
      - LANTERN_DBUSER=${LANTERN_DBUSER}
      - LANTERN_DBPASSWORD=${LANTERN_DBPASSWORD}
      - LANTERN_DBSSLMODE=${LANTERN_DBSSLMODE}
      - LANTERN_DBNAME=${LANTERN_DBNAME}
      - LANTERN_QUSER=${LANTERN_QUSER}
      - LANTERN_QPASSWORD=${LANTERN_QPASSWORD}
      - LANTERN_QHOST=${LANTERN_QHOST}
      - LANTERN_QPORT=${LANTERN_QPORT}
      - LANTERN_CAPQUERY_QNAME=${LANTERN_CAPQUERY_QNAME}
    volumes:
      - ./scripts/wait-for-it.sh:/etc/lantern/wait-for-it.sh
    command: /etc/lantern/wait-for-it.sh lantern-mq:5672 -- /etc/lantern/wait-for-it.sh postgres:5432 -- ./main

  shinydashboard:
    build:
      context: ./shinydashboard
      args:
        LANTERN_DBNAME: ${LANTERN_DBNAME}
        LANTERN_DBUSER: ${LANTERN_DBUSER}
        LANTERN_DBPASSWORD: ${LANTERN_DBPASSWORD}
        LANTERN_DBHOST: ${LANTERN_DBHOST}
        LANTERN_DBPORT: ${LANTERN_DBPORT}
        LANTERN_DBSSLMODE: ${LANTERN_DBSSLMODE}      
    image: lantern_shinydashboard:current
    depends_on:
      - postgres
    volumes:
      - ./shinydashboard/lantern/:/srv/shiny-server
      - ./shinydashboard/shiny_logs:/var/log/shiny-server
      - "./VERSION:/VERSION:ro"

volumes:
  pgdata:
  rabbitmqdata:


