version: '3'

services:
  endpoint_querier:
    environment:
      - LANTERN_ENDPTQRY_QUERY_INTERVAL=0
    entrypoint:
      - "./main"
      - "./resources/TestEndpointSources.json"

  prometheus_postgresql_adapter:
    command:
      -pg-host=pg_prometheus
      -pg-password=${LANTERN_TEST_DBPASSWORD}
      -pg-database=${LANTERN_TEST_DBNAME}
      -pg-user=${LANTERN_TEST_DBUSER}
      -pg-prometheus-log-samples

  prometheus:
    volumes:
      - ./prometheus.test.yml:/etc/prometheus/prometheus.yml 

  lantern-e2e:
    container_name: lantern-e2e
    environment:
      - LANTERN_DBHOST=pg_prometheus
    build:
      context: ./e2e
    command: ./wait-for-it.sh grafana:3000 -- ./wait-for-it.sh pg_prometheus:5432 -- ./wait-for-it.sh lantern-mq:15672 -- ./wait-for-it.sh lantern-mq:5672 -- ./wait-for-it.sh prometheus:9090 -- ./wait-for-it.sh prometheus_postgresql_adapter:9201 -- ./wait-for-it.sh endpoint_querier_1:3333 -- go test -tags=e2e ./...

  capability_querier:
    environment:
      - LANTERN_TEST_QUSER=${LANTERN_TEST_QUSER}
      - LANTERN_TEST_QPASSWORD=${LANTERN_TEST_QPASSWORD}
      - LANTERN_TEST_CAPQUERY_QNAME=${LANTERN_TEST_CAPQUERY_QNAME}