version: '3'

services:
  endpoint_querier:
    ports:
      - "3333:3333"
    volumes:
      - ./certs/:/etc/ssl/certs
  prometheus:
    ports:
      - "9090:9090"
  pg_prometheus:
    ports:
      - "5432:5432"
    volumes:
      - ./scripts/testdbsetup.sql:/docker-entrypoint-initdb.d/testdbsetup.sql
  grafana:
    ports:
      - "3000:3000"
  lantern-mq:
    ports:
      - "15672:15672"
      - "5672:5672"
  capability_querier:
    environment:
      - LANTERN_TEST_QUSER=${LANTERN_TEST_QUSER}
      - LANTERN_TEST_QPASSWORD=${LANTERN_TEST_QPASSWORD}
      - LANTERN_TEST_CAPQUERY_QNAME=${LANTERN_TEST_CAPQUERY_QNAME}
