version: '3'

services:
  endpoint_querier:
    build:
      args:
        cert_dir: ./certs
    ports:
      - "3333:3333"
  prometheus:
    ports:
      - "9090:9090"
  pg_prometheus:
    ports:
      - "5432:5432"
    volumes:
      - ./scripts/sql/testdbsetup.sql:/docker-entrypoint-initdb.d/testdbsetup.sql
      - ./scripts/sql/dbusersetup_dev.sql:/docker-entrypoint-initdb.d/dbusersetup_dev.sql
    environment:
      - LANTERN_DBUSER_READONLY=${LANTERN_DBUSER_READONLY}
      - LANTERN_DBPASSWORD_READONLY=${LANTERN_DBPASSWORD_READONLY}
      - LANTERN_DBUSER_READWRITE=${LANTERN_DBUSER_READWRITE}
      - LANTERN_DBPASSWORD_READWRITE=${LANTERN_DBPASSWORD_READWRITE}
  grafana:
    ports:
      - "3000:3000"
  lantern-mq:
    ports:
      - "15672:15672"
      - "5672:5672"
  capability_querier:
    build:
      args:
        cert_dir: ./certs
    environment:
      - LANTERN_TEST_QUSER=${LANTERN_TEST_QUSER}
      - LANTERN_TEST_QPASSWORD=${LANTERN_TEST_QPASSWORD}
      - LANTERN_TEST_CAPQUERY_QNAME=${LANTERN_TEST_CAPQUERY_QNAME}
  shinydashboard:
    build:
      args:
        cert_dir: ./certs
    ports:
      - "3838:3838"
