LANTERN_DBHOST=pg_prometheus
LANTERN_DBPORT=5432
LANTERN_DBSSLMODE=disable
LANTERN_DBNAME=lantern

LANTERN_DBUSER=lantern
LANTERN_DBPASSWORD=postgrespassword
LANTERN_DBUSER_READONLY=lantern_ro
LANTERN_DBPASSWORD_READONLY=postgrespassword_ro
LANTERN_DBUSER_READWRITE=lantern_rw
LANTERN_DBPASSWORD_READWRITE=postgrespassword_rw

LANTERN_TEST_DBPASSWORD=postgrespassword
LANTERN_TEST_DBUSER=lantern
LANTERN_TEST_DBNAME=lantern_test

LANTERN_CHPLAPIKEY=an-api-key

LANTERN_ENDPTQRY_QUERY_INTERVAL=10
LANTERN_ENDPTQRY_NUMWORKERS=10

LANTERN_QUSER=capabilityquerier
LANTERN_QPASSWORD=capabilityquerier
LANTERN_QHOST=lantern-mq
LANTERN_QPORT=5672
LANTERN_CAPQUERY_QNAME=capability-statements
LANTERN_CAPQUERY_NUMWORKERS=10
LANTERN_CAPQUERY_QRYINTVL=1440
LANTERN_ENDPTINFO_CAPQUERY_QNAME=endpoints-to-capability
LANTERN_ENDPTINFO_NETSTATS_QNAME=endpoints-to-netstats

LANTERN_TEST_QUSER=capabilityquerier
LANTERN_TEST_QPASSWORD=capabilityquerier
LANTERN_TEST_QNAME=test-queue
LANTERN_TEST_ENDPTINFO_CAPQUERY_QNAME=test-endpoints-to-capability
