LANTERN_DBPASSWORD=postgrespassword
LANTERN_DBUSER=lantern
LANTERN_DBNAME=lantern

LANTERN_TEST_DBPASSWORD=postgrespassword
LANTERN_TEST_DBUSER=lantern
LANTERN_TEST_DBNAME=lantern_test

LANTERN_QUSER=capabilityquerier
LANTERN_QPASSWORD=capabilityquerier
LANTERN_QHOST=lantern-mq
LANTERN_QPORT=5672
LANTERN_CAPQUERY_QNAME=capability-statements
LANTERN_CAPQUERY_NUMWORKERS=10
LANTERN_CAPQUERY_QRYINTVL=1440

LANTERN_TEST_QUSER=capabilityquerier
LANTERN_TEST_QPASSWORD=capabilityquerier
LANTERN_TEST_CAPQUERY_QNAME=capability-statements-test