POSTGRES_PASSWORD=postgrespassword
LANTERN_ENDPTMGR_DBHOST=localhost
LANTERN_ENDPTMGR_DBPORT=5432
LANTERN_ENDPTMGR_DBUSER=postgres
LANTERN_ENDPTMGR_DBPASS=postgrespassword
LANTERN_ENDPTMGR_DBNAME=postgres
LANTERN_ENDPTMGR_DBSSLMODE=disable
LANTERN_ENDPTMGR_LOGFILE=endpointmanagerLog.json
LANTERN_ENDPTQRY_PORT=3333
LANTERN_ENDPTQRY_LOGFILE=endpointQuerierLog.json