/* critical.css - Critical path CSS */
.content-wrapper, .right-side { background-color: #F6F7F8; }
.skin-blue .main-header .navbar, .skin-blue .main-header .logo { background-color: #1B5A7F; }
.small-box { color: black!important; }
.skin-blue .main-header .logo { background-color: #1B5A7F; }